@model DataLayer6.Perfil

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dsc_Perfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dsc_Perfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Perfil }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
